<h2>Resend confirmation instructions</h2>
<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "m-x-auto text-center app-login-form" }) do |f| %>
		  <%= devise_error_messages! %>

		  		<%= image_tag 'brand', class: 'app-brand m-b-lg' %>

		  		<div class="form-group">
			          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
			      </div>

		  				<div class="m-b-lg">
			          <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
			        </div>

			        <footer class="screen-login">
			          <%= render "devise/shared/links" %>
			        </footer>
		<% end %>

</div>
</div>		


